<h1>Hello @Model.Name</h1>
<p>Thank you for using FluentEmail!</p>

<hr />

<div class="heading-section" style="text-align: center; padding: 0 30px;">
    <h2>Our Blog</h2>
    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
</div>
